---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>

    <div class="pb-12 mt-5 mb-20">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm David Puerta</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="mt-1 mb-4">
        <a class="btn" href="mailto:contact.puertadavid96182@gmail.com" target="_blank"> Let's connect!</a>
        <a href="https://drive.google.com/file/d/1SjCH9h53VupVVMpp5PTGTxSAIN22XJ6o/view?usp=sharing" target="_blank" class="btn btn-outline ml-5"> Get resume</a>
      </div>
      <div class="py-2">
        <text class="text-lg">
          I am a Software Engineer, sculpting creativity into every line of code. Beyond the binary realm, life unfolds with the electrifying beats of Rock Music, the thrill of conquering new trails in the world of Open Source code, and the seamless dance with Linux. Join me in exploring the boundless possibilities beyond algorithms, where technology meets passion, and every project is a canvas for innovation.
        </text
        >
      </div>
    </div>
</BaseLayout>
