---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm David Puerta</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="mt-1 mb-4">
        <a class="btn" href="mailto:contact.puertadavid96182@gmail.com" target="_blank"> Let's connect!</a>
        <a href="https://drive.google.com/file/d/1PeItDTJaqtRWQAbqeixA4Fib1t3X7Z_C/view?usp=sharing" target="_blank" class="btn btn-outline ml-5"> Get resume</a>
      </div>
      <div class="py-2">
        <text class="text-lg">
          I'm a Backend Developer, with extensive knowlegde about Python. I am enthusiastic about Linux and open source projects.
          As an engineer im open to learning new technologies and exploring challenging assignments. I look forward to opportunities 
          where I can contribute to team success through efficient automation systems development work. I thrive on challenging projects 
          and enjoy sharing my knowledge to help colleagues reach their potential. <br>
          My strong point is that I always keep up the security standards while developing projects to make sure its safe for end-users. 
          I am highly motivated by the sense of collective accomplishment that comes with creating something new and meaningful. I take 
          pride in moving projects forward utilizing innovative solutions. Highly adept problem solver who is able to efficiently prioritize 
          tasks and produce high quality work within tight timescales. I'm a creative problem solver that excels at navigating complex 
          situations to achieve success. Equally adept at software design as I am coding solutions from concept phase through release. 
          I take pride in turning ideas into reality. Committed to source code optimization. I'm dedicated to rigorous testing for maximum product quality. <br>
          I'm an enthusiastic technology professional looking for challenging opportunities that will further my career.
          </text
        >
      </div>
    </div>

</BaseLayout>
