---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm David Puerta</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="mt-1 mb-4">
        <a class="btn" href="mailto:contact.puertadavid96182@gmail.com" target="_blank"> Let's connect!</a>
        <a href="https://drive.google.com/file/d/1PeItDTJaqtRWQAbqeixA4Fib1t3X7Z_C/view?usp=sharing" target="_blank" class="btn btn-outline ml-5"> Get resume</a>
      </div>
      <div class="py-2">
        <text class="text-lg">
          Backend Developer with extensive knowledge in Python, Linux and open source projects. Proven ability to design, develop and maintain efficient automation systems and solve complex problems. Skilled at software design, coding, source code optimization and testing for maximum product quality. Outstanding passion for innovative solutions and producing meaningful results within tight timescales. Committed to security standards and safety of end-users. Highly motivated by collective accomplishments and driven by the satisfaction of turning ideas into reality.  
        </text
        >
      </div>
    </div>

</BaseLayout>
