---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>

    <div class="pb-12 mt-5 mb-20">
      <div class="text-xl py-1">Hey there 👋</div>
      <div class="text-5xl font-bold">I'm David Puerta</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="mt-1 mb-4">
        <a class="btn" href="mailto:contact.puertadavid96182@gmail.com" target="_blank"> Let's connect!</a>
        <a href="https://drive.google.com/file/d/1dl7hZNNz1zshv0QEtriQS64zLL8JFrnr/view?usp=sharing" target="_blank" class="btn btn-outline ml-5"> Get resume</a>
      </div>
      <div class="py-2">
        <text class="text-lg">
          I'm a Software Engineer specializing in backend development with Python. I'm passionate about transforming ideas into elegant lines of code and driving innovation in every project. When I'm not immersed in writing code, you'll often find me rocking out to the beats of Rock Music or diving into immersive video game worlds. Join me on this journey beyond algorithms, where every project becomes a canvas for innovation. Let's connect and discuss how we can bring your ideas to life through the power of software engineering.
        </text
        >
      </div>
    </div>
</BaseLayout>
