---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<<<<<<< HEAD
<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="RapidChat"
    img="/rapidchat.png"
    desc="RapidChat is a real-time web application built with Django, Django Channels, and Redis. It offers users a platform for real-time chat and notifications, along with account management features. The application leverages Django Channels for real-time communication and Redis for efficient message distribution, providing a responsive and interactive user experience."
    url="https://rapidchat-264d.onrender.com/"
  />
  <HorizontalCard
    title="PicBookmark"
    img="/picbookmark.jpg"
    desc="PicBookmark is a multi-functional social platform built using Django, which allows users to save and share images from various websites. With the opportunity to create personalized profiles, users can not only store their favorite images but also discover and appreciate images saved by others."
    url="https://picbookmark.onrender.com/account/"
  />
  <HorizontalCard
    title="Dayjango"
    img="/dayjango.png"
    desc="Dayjango is a Django-based project designed to keep you updated with the latest happenings, trends, and news in the Django community. It's a platform where users can read, share, and comment on Django-related articles and blog posts."
    url="https://dayjango.onrender.com/"
  />
  <HorizontalCard
    title="Architect portfolio"
    img="/rocioperez-portfolio.jpg"
    desc="Architect portfolio created with VueJS that showcase all projects in a timeline with images gallery. And highlights the unique creative vision and technical expertise of an accomplished architect."
    url="https://rocioperez.netlify.app/"
  />
  <HorizontalCard
    title="Bot detection Lab"
    desc="Bot detection test environment and tool to obtain characteristics for the detection of bots."
    url="https://github.com/david96182/bot-detection-lab"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Web log processor"
    desc="Log processor for nginx or apache that extracts user and user sessions and calculates other types of useful data for bot detection or traffic analysis "
    url="https://github.com/david96182/log-processor"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Indecision app"
    img="/indecision-app.jpg"
    desc="Web application created with Vue that allows you to answer any question and shows a gif related to the answer."
    url="https://indecision-vueapp.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pokemon guess game"
    img="/pokemon-game.jpg"
    desc="Pokemon game where you have to guess the Pokemon according to the silhouette created with Vue ."
    url="https://pokemon-guessgame.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="NodeJS news API"
    desc="API REST that get news from Hacker News about NodeJS every hour and stores the feed in a mongodb database. Created with NestJS."
    url="https://github.com/david96182/nodejs-news-api"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Archived projects</div>
  </div>

  <HorizontalCard
    title="Invoicing system"
    desc="Full Stack web application created with Java that facilitates the management of a company dedicated to the control of cargo storage with greater speed and a better concentration of information."
    url="https://github.com/david96182/sistema-facturacion-web"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Medical office management system"
    desc="Desktop Java application created to automate the work in a medical office."
    url="https://github.com/david96182/dpoo-javaproject"
  />


=======
<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
>>>>>>> upstream/main
</BaseLayout>
