---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="2018 to 2022 at Universidad Tecnológica de La Habana  'José Antonio Echevarría', CUJAE"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Freelance Developer"
      subtitle="From january 2023, Remote">
      <p>• Created automated bots using Python and Selenium, leading to a remarkable <b>70%</b> reduction in manual effort, significantly enhancing task efficiency and precision.</p> 
      <p>• Conducted rigorous testing on <b>over 30 web pages</b> to ensure functionality, optimize user experience, and identify and resolve issues, contributing to a more robust and error-free web environment.</p> 
      <p>• Developed and deployed <b>over 10 responsive web pages</b> using Vue.js, culminating in a <b>20%</b> surge in client satisfaction and elevating user engagement by fostering a more interactive and enjoyable online experience.</p>
      <p>• Leveraged advanced design patterns to enhance the scalability and maintainability of automated bots, demonstrating a strong understanding of software architecture.</p>
    </TimeLineElement>
    <TimeLineElement
      title="Python Developer"
      subtitle="From april 2022 at FurureLink Corporation, Remote">
      <p>• Built web extensions for Firefox and Chrome, expanding user reach and compatibility to reach <b>over 10,000 users</b>, significantly amplifying the project's impact.</p> 
      <p>• Involved in porting the project source code from Python 2.7 to 3.8, with a primary focus on unit test transition, enhancing efficiency and industry standard compatibility.</p> 
      <p>• Designed and developed landing pages linked to ads campaigns, leading to an approximately <b>20%</b> increase in conversion rates and fostering user growth.</p> 
      <p>• Created a new version of the project in Portuguese, boosting the project's market presence in Brazil by <b>50%</b> and significantly increasing user acquisition.</p> 
      <p>• Collaborated with the team to implement responsive design across the project, resulting in an <b>improved usability rating by 35%</b> on various devices and screen sizes.</p> 
      <p>• Rigorously tested and seamlessly integrated <b>over 10 third-party APIs</b> into the project, significantly enhancing its capability and broadening its scope to cater to diverse user needs.</p> 
      <p>• Implemented several admin-page features, improving the efficiency of administrative tasks by around <b>25%</b> through these upgrades.</p>
      - Skills: Python, Mysql, Backend Development, Nginx, Beanstalk, Api Testing, uWSGI, web2py, Redis, Selenium, Javascript
    </TimeLineElement>
    <TimeLineElement
      title="Developer (Intern)"
      subtitle="From july 2021 to september 2022 at Universidad Tecnológica de La Habana 'José Antonio Echevarría', CUJAE, Habana, Cuba">
      <p>• Collaborated with a multidisciplinary team on a Bot Detection research project, encountering transformative experiences that expanded my technical knowledge and skill set.</p> 
      <p>• Co-designed a real-time bot detection system, enhancing IT infrastructure integrity and security, resulting in a <b>15% reduction</b> in potential security threats.</p> 
      <p>• Pioneered the creation of a data capture tool, classifying human and bot activities at the network level, enhancing system understanding and aiding in threat detection, leading to a <b>30% improvement</b> in threat detection.</p> 
      <p>• Implemented a parallel version of an information capture algorithm, successfully enhancing its efficiency by an estimated <b>50%</b> compared to sequential variants.</p> 
      - Skills: Python, Multiprocessing, Bot detection, Parallel Programming, Networking, Cybersecurity, Docker, Wireshark, Scapy, Pyshark, Selenium
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/UbdZ1K" target="_blank"> EF SET English Certificate 70/100 (C1 Advanced)</a>
    </li>
    <li>
      <a href="https://www.testdome.com/certificates/6e7ccf8439eb441ea674ae61112c3f29" target="_blank"> Docker - TestDome Certificate</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/d196117eaf10" target="_blank"> Python (Basic) - HackerRank</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/90cdf85a3624" target="_blank"> SQL (Advanced) - HackerRank</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <p><b>Languages & Frameworks</b>: Python, JavaScript, Java, HTML, CSS, Flask, Django, Vue.js, Node.js, web2py</p>
    </li>
    <li>
      <p><b>Databases</b>: PostgreSQL, MySQL, MongoDB, MariaDB</p> 
    </li>
    <li>
      <p><b>Tools & Technologies</b>: Docker, Postman, Selenium, Ansible, Jenkins, Nginx, Git, GitHub, UML, Bash, Bootstrap</p> 
    </li>
    <li>
      <p><b>Specializations</b>: Design Patterns, Parallel Programming, Cybersecurity, API Testing, Backend Development</p> 
    </li>
  </ul>
  
</BaseLayout>
