---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="2018 to 2022 at Universidad Tecnológica de La Habana  'José Antonio Echevarría', CUJAE"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Freelance Developer"
      subtitle="From january 2023, Remote">
      • Developed automated bots utilizing Python and Selenium, significantly improving task efficiency and precision, reducing manual effort by **70%**.\n- • Performed thorough web page testing for functionality, user experience optimization, and issue detection and debugging.\n- • Created responsive, user-friendly web pages with Vue.js, boosting client satisfaction and engagement.
    </TimeLineElement>
    <TimeLineElement
      title="Python Developer"
      subtitle="From april 2022 at FurureLink Corporation, Remote">
      • Built web extensions for Firefox and Chrome, expanding the user reach by contributing compatibility with these browsers.\n- • Involved in porting the project source code from Python 2.7 to 3.8, with a primary focus on unit test transition, enhancing efficiency and industry standard compatibility.\n- • Designed and implemented landing pages linked to ad campaigns, resulting in a conversion rate increase of approximately **20%** and driving user growth.\n- • Created a new version of the project in Portuguese, boosting the project's market presence in Brazil by **50%** and significantly increasing user acquisition.\n- • Collaborated with the team to implement responsive design across the project, enhancing usability on various devices and screen sizes.\n- • Successfully tested and integrated multiple third-party APIs into the project, enhancing its capability and scope.\n- • Developed several admin-page features, improving the efficiency of administrative tasks by around **25%** through these upgrades.\n- Skills: Python, Mysql, Backend Development, Nginx, Beanstalk, Api Testing, uWSGI, web2py, Redis, Selenium
    <TimeLineElement/>
    <TimeLineElement
      title="Developer (Intern)"
      subtitle="From july 2021 to september 2022 at Universidad Tecnológica de La Habana 'José Antonio Echevarría', CUJAE, Habana, Cuba">
      • Collaborated with a multidisciplinary team on a Bot Detection research project, encountering transformative experiences that expanded my technical knowledge and skill set.\n- • Co-designed a real-time bot detection system, contributing to the IT infrastructure's integrity and security.\n- • Pioneered the creation of a data capture tool for classifying human and bot activities at the network level, improving system understanding and aiding in threat detection.\n- • Implemented a parallel version of an information capture algorithm, successfully enhancing its efficiency by an estimated **50%** compared to sequential variants.\n- • Gained significant expertise on system performance optimization and threat detection, leading to an overall improvement in system security of about **30%**.\n- • Acquired new skills and knowledge in the fields of computer systems infrastructure and security, enhancing technical proficiency.\n- Skills: Python, Multiprocessing, Bot detection, Parallel Programming, Networking, Cybersecurity, Docker, Wireshark, Scapy, Pyshark, Selenium
    <TimeLineElement/>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/UbdZ1K" target="_blank"> EF SET English Certificate 70/100 (C1 Advanced)</a>
    </li>
    <li>
      <a href="https://www.testdome.com/certificates/6e7ccf8439eb441ea674ae61112c3f29" target="_blank"> Docker - TestDome Certificate</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/d196117eaf10" target="_blank"> Python (Basic) - HackerRank</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/90cdf85a3624" target="_blank"> SQL (Advanced) - HackerRank</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Javascript</li>
    <li>Postgresql</li>
    <li>Mysql</li>
    <li>Mongodb</li>
    <li>Mariadb</li>
    <li>Design patterns</li>
    <li>Vuejs</li>
    <li>Parallel programming</li>
    <li>Java</li>
    <li>Bash</li>
    <li>Html</li>
    <li>Css</li>
    <li>Docker</li>
    <li>Postman</li>
    <li>Selenium</li>
    <li>web2py</li>
    <li>flask</li>
    <li>Django</li>
    <li>Bootstrap</li>
    <li>Ansible</li>
    <li>Jenkins</li>
    <li>Nginx</li>
    <li>UML</li>
    <li>Nodejs</li>
    <li>Git</li>
    <li>Github</li>
    
  </ul>
  
</BaseLayout>
